@page "/not-found"
@layout MainLayout
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NotFound> Localizer

<h3>@Localizer["PageNotFound"]</h3>
<p>@Localizer["PageNotFoundMessage"]</p>