name: CI

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        
    - name: Restore dependencies
      run: dotnet restore Fritz.sln
      
    - name: Build
      run: dotnet build Fritz.sln --configuration Release --no-restore --warnaserror
      
    - name: Validate Bicep templates
      run: az bicep build --file ./infrastructure/main.bicep
